@import '../variables';

.search {
  padding: 1rem 1rem 3rem 1rem;
  border-bottom: 1px solid $main-border;

  &__status {
    display: flex;
    align-items: center;
    justify-content: space-between;


  }

  &__title {

  }

  &__form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;

  }
}