$black: #000;
$white: #ffff;
$background-wrapper: #E5E5E5;
$blue: #235390;
$error-color: red;
$main-border: #5f6368;
$container-width: 1200px;

// border
$search-glass: #5f6368;
$main-border: #dadce0;
$sub-border: #f4f5f9;
$bright-border: #8a94a0;

// button

// navbar
$active: #C200AF;

// sidebar
$sidebar-breakpoint: 5100px;
$main-blue-color: #235390;
$main-orange-color: #f27c39;